<%- include('../partials/header') %>
<%- include('../partials/navbar') %>
<!-- background modal -->
<%- include('../modals/background') %>

<!-- logout feature -->

  <!-- back to home page -->


<!-- <form action="/<%= user.name.split(" ")[0] %>/detail" method='POST' >
<label>Light</label>
<select name="light" id="light">
    <option value="low-moderate">low-moderate</option>
    <option value="bright">bright</option>
    <option value="indirect">indirect</option>
    <option value="direct">direct</option>
</select>

<label>Water</label>
<select name="water" id="water">
    <option value="low">low</option>
    <option value="low-moderat">low-moderat</option>
    <option value="moderate">moderate</option>
    <option value="moderate-high">moderate-high</option>
    <option value="high">high</option>
    <option value="misting">misting</option>
</select>

<label>Soil</label>
<select name="soil" id="soil">
    <option value="well-draining">well-draining</option>
    <option value="moisture-retaining">moisture-retaining</option>
    <option value="sandy">sandy</option>
    <option value="none">none</option>
</select>

<input type="submit" value="Create Detail">
</form> -->



<div class='container detialList'>
  <div class='row justify-content-center'>
      <div class='col-lg-8'>
        <h1 id='plantTitle' class='float-start'> <%= selectedPlant.name %></h1>
          <button type='button' id='add_data' class='btn btn-sm float-end' data-bs-toggle='modal', data-bs-target='#action_modal'>
              <img src='/images/addIcon.png' width='30px' alt='add'>
          </button>
    
          <button type='button' id='delete_data' class='btn btn-sm float-end' >
            <img src='/images/deleteIcon.png' width='30px' alt="delete">
        </button>
        <button type='button' id='edit_data' class='btn btn-sm float-end' >
            <img src='/images/editIcon.png' width='30px' alt="edit">
        </button>
          <table class='table table-striped table-bordered' id='sample_data'>
              <thead class='thead-dark'>
                  <tr>
                      <th class='column-width'>Light</th>
                      <th class='column-width'>Water</th>
                      <th class='column-width'>Soil</th>
                  </tr>
              </thead>
              <tbody>
                  <!--  table data will be inserted here -->
              </tbody>
          </table>
      </div>
  </div>
</div>

<!-- detail model -->
<div class="modal fade" tabindex="1" id="action_modal">
  <div class="modal-dialog modal-dialog-centered" role="document">
     <div class="modal-content">
         <form method="post" id="sample_form">
          <div class="modal-header">
              <h5 class="modal-title">Add Some Details</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

          </div>
          <div class="modal-body">
              <div class="mb-3">
                  <label class="form-label">Light</label>
                  <select name="light" id="light" class="form-control">
                     <option value='dark'>dark</option>
                     <option value='dark-moderate'>dark-moderate</option>
                     <option value='moderate'>moderate</option>
                     <option value='moderate-bright'>moderate-bright</option>
                     <option value='bright'>bright</option>            
                  </select>
              </div>
              <div class="mb-3">
                  <label class="form-label">Water</label>
                  <select name="water" id="water" class="form-control">
                      <option value='low'>low</option>
                      <option value='low-moderate'>low-moderate</option>
                      <option value='moderate'>moderate</option>
                      <option value='moderate-high'>moderate-high</option>
                      <option value='high'>high</option>
                      <option value='misting'>misting</option>
                   </select>
              </div>
              <div class="mb-3">
                  <label class="form-label">Soil</label>
                  <select name="soil" id="soil" class="form-control">
                      <option value='well-draining'>well-draining</option>
                      <option value='moisture-retaining'>moisture-retaining</option>
                      <option value='sandy'>sandy</option>
                      <option value='mnone'>none</option>
                 </select>
              </div>
          </div>
          <div class="modal-footer">
              <input type="hidden" name="id" id="id">
              <input type="hidden" name="plantId" id="plantId" value="<%= selectedPlant.id %>">

              <input type="hidden" name="action" id="action" value="Add">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" >Close</button>
              <button type="submit" class="btn btn-primary" id="action_button">Add Detials</button>
          </div>
          </form>
     </div>
  </div>
</div> 

<%- include('../partials/footer') %>


<script>
$(document).ready(function() {
    
    load_data()
  // Load selected background image from Local Storage and apply it
  

const selectedBackground = localStorage.getItem('selectedBackground');
     if (selectedBackground) {
        $('body').css('background-image', `url(${selectedBackground} )`);
     }
    $('.bg-btn').click(function() {
       var imgUrl = $(this).data('img');
       console.log('hi;' + imgUrl)
       $('body').css('background-image', 'url(' +imgUrl+ ')');
       localStorage.setItem('selectedBackground', imgUrl);
       $('#backgroundModal').modal('hide'); // Close modal after selecting image
    });



  // load data for detail

  function load_data(){
    const selectedPlantId = '<%= selectedPlant.id %>';
   
        $.ajax({
            url:`/<%= user.name.split(" ")[0] %>/${selectedPlantId}`,
            method:'POST',
            data:{action:'fetch'},
            dataType:'JSON',
            success:function(data){
                let html = '';                
                    for (let count = 0; count < data.data.length; count ++)
                    {
                        html += `
                          <tr>
                             <td class="align-middle dataPart listTd" >     
                                <span class="dateSpan">${data.data[count].light}</span>
                                     <select name="light" id="light" class="form-control editDateInput" style="display: none; max-width: 100px">
                                        <option value='dark'>dark</option>
                                        <option value='dark-moderate'>dark-moderate</option>
                                        <option value='moderate'>moderate</option>
                                        <option value='moderate-bright'>moderate-bright</option>
                                        <option value='bright'>bright</option>                       
                                     </select>

                             </td>
                             <td class="align-middle dataPart listTd" >
                                <span class="dateSpan">${data.data[count].water}</span>
                                    <select name="water" id="water" class="form-control editDateInput" style="display: none; max-width: 100px">
                                        <option value='low'>low</option>
                                        <option value='low-moderate'>low-moderate</option>
                                        <option value='moderate'>moderate</option>
                                        <option value='moderate-high'>moderate-high</option>
                                        <option value='high'>high</option>
                                        <option value='misting'>misting</option>
                                    </select>
                             </td>
                             <td class="align-middle dataPart listTd" >
                                <span class="dateSpan">${data.data[count].soil}</span>
                                    <select name="soil" id="soil" class="form-control editDateInput" style="display: none; max-width: 100px">
                                       <option value='well-draining'>well-draining</option>
                                       <option value='moisture-retaining'>moisture-retaining</option>
                                       <option value='sandy'>sandy</option>
                                       <option value='mnone'>none</option>
                                    </select>
                                </td>                            
                          </tr>
                        `;
                    }
                
                $('#sample_data tbody').html(html);
                if (data.data.length > 0) {
                    $('#add_data').hide();
                    $('#edit_data').show();
                    $('#delete_data').show();
                } else {
                    $('#add_data').show();
                    $('#edit_data').hide();
                    $('#delete_data').hide();
                }
            }
        })
    }

 //Add data
 $('#add_data').click(function(){
    
            $('#sample_form')[0].reset();
            $('#action').val('Add');
            $('#action_button').text('Add');  
            $('#action_modal').modal('show');
        }); 

    $('#sample_form').on('submit', function(e){
        const selectedPlantId = '<%= selectedPlant.id %>';
   
            e.preventDefault();
            let formData = $('#sample_form').serialize();
            //  formData += `&plant_id=${$('#plant_id').val()}`; 
            // formData += `&selectedPlantId=${selectedPlantId}`; 
            console.log(formData);
          
            $.ajax({
            url: `/<%= user.name.split(" ")[0] %>/${selectedPlantId}`,
            method:'POST',
            data:formData,
            
            dataType:'JSON',
            beforeSend: function(){
                $('#action_button').attr('disabled','disabled')
            },
            success:function(data){
                $('#action_button').attr('disabled',false);
                $('#action_modal').modal('hide'); 
                load_data();
            }
        })
    })
  
})
// $(document).ready(function() {
//     const currentUrl = window.location.href;
//     const urlParams = new URLSearchParams(window.location.search);
//     const plantId = urlParams.get('plantId');

//     // Load selected background image from Local Storage and apply it
//     const selectedBackground = localStorage.getItem('selectedBackground');
//     if (selectedBackground) {
//         $('body').css('background-image', `url(${selectedBackground})`);
//     }
//     $('.bg-btn').click(function() {
//         var imgUrl = $(this).data('img');
//         console.log('hi;' + imgUrl)
//         $('body').css('background-image', 'url(' + imgUrl + ')');
//         localStorage.setItem('selectedBackground', imgUrl);
//         $('#backgroundModal').modal('hide'); // Close modal after selecting image
//     });

//     // Load data for detail
//     function load_data(plantId) {
//         $.ajax({
//             url: currentUrl,
//             method: 'POST',
//             data: { action: 'fetch', plant_id: plantId },
//             dataType: 'JSON',
//             success: function(data) {
//                 let html = '';
//                 for (let count = 0; count < data.data.length; count++) {
//                     html += `
//                         <tr>
//                             <td class="align-middle dataPart listTd">
//                                 <span class="dateSpan">${data.data[count].light}</span>
//                             </td>
//                             <td class="align-middle dataPart listTd">
//                                 <span class="dateSpan">${data.data[count].water}</span>
//                             </td>
//                             <td class="align-middle dataPart listTd">
//                                 <span class="dateSpan">${data.data[count].soil}</span>
//                             </td>
//                         </tr>
//                     `;
//                 }
//                 $('#sample_data tbody').html(html);

//                 // Check if data is not empty to hide/show buttons
//                 if (data.data.length > 0) {
//                     $('#add_data').hide();
//                     $('#edit_data').show();
//                     $('#delete_data').show();
//                 } else {
//                     $('#add_data').show();
//                     $('#edit_data').hide();
//                     $('#delete_data').hide();
//                 }
//             }
//         });
//     }

//     // Add data
//     $('#add_data').click(function() {
//         $('#sample_form')[0].reset();
//         $('#action').val('Add');
//         $('#action_button').text('Add');
//         $('#action_modal').modal('show');
//     });

//     $('#sample_form').on('submit', function(e) {
//         e.preventDefault();
//         const formData = $('#sample_form').serializeArray().reduce((obj, item) => ({...obj, [item.name]: item.value}), {});
//         formData.plant_id = plantId;
//         console.log(formData);
//         $.ajax({
//             url: currentUrl,
//             method: 'POST',
//             data: formData,
//             dataType: 'JSON',
//             beforeSend: function() {
//                 $('#action_button').attr('disabled', 'disabled');
//             },
//             success: function(data) {
//                 $('#action_button').attr('disabled', false);
//                 $('#action_modal').modal('hide');
//                 load_data(plantId); // Reload data for the current plant
//             }
//         });
//     });

//     // Initial load of data
//     load_data(plantId);

//     console.log(currentUrl);
// });

</script>

